* {
  font-family: "Oswald", sans-serif;
}
.login {
  padding-top: 55px;
}
.register {
  padding-top: 55px;
}

@media (min-width:992px) {    
  .vertical-nav {
      position: fixed;
      top: 75px;
      left: 0;
      width: 210px;
      height: 100%;
      background-color:#212529;
      overflow-y: auto;
      padding-top: 30px;
    }
    .tableone{
      width: 90%!important;
    }
    .table{
      padding-left: 20rem;
    } 
  .cardstyle{
    height: 13rem;
    padding-right: 100px;
  }
  .dropdown{
    padding-right:35px!important;
  }
  }
 
  @media (max-width:820px) {
    *{
      font-size: 14px;
      overflow: hidden;
    }
.cardheight{
  height: 5rem;
}
.dropdown{
  padding-left: 80px;
}
.register{
  padding-right:80px!important;
}
.dropdown{
  padding-left: 80px!important;
}
  }